* {
    margin: 0;
    scroll-behavior: smooth;
}

/* Chorme , safari, Edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.greenColor {
    color: green;
}

.redColor {
    color: red;
}
